
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmEmail</title>
</head>
<body>
    <div>
        <p>Email is confirmed</p>
        @Html.ActionLink("Log in", "Login")
    </div>
</body>
</html>
